{% extends 'base.html.twig' %}

{% block title %}Hello MovieController!
{% endblock %}

{% block body %}


	<div>
		<form action="{{ url("search") }}">
			<div class="container-input">
				<input class="search" type="search" name="q" placeholder="Search">
				<input class="button" type="submit" value="Search">
			</div>
		</form>
	</div>
{% endblock %}