{% extends 'base.html.twig' %}

{% block title %}Hello MovieController!
{% endblock %}

{% block body %}
	<style>

	</style>

	<div class="search-wrapper mt-5">

		<form action="{{ url("search") }}">
			<div class="d-flex">
				<input class="form-control" type="search" name="q" placeholder="Search">
				<input class="ms-4 btn btn-primary" type="submit" value="Go">
			</div>
		</form>

	</div>
{% endblock %}