{% extends 'base.html.twig' %}

{% block title %}Actors - Search{% endblock %}

{% block body %}


<h2 class="mb-4">Actor: </h2>
	
		<form action="{{ url("actor-search") }}">
			<div class="container-input">
				<input class="search" name="q" placeholder="Search">
				<input class="button" type="submit" value="Search">
			</div>
		</form>
	
{% endblock %}