{% extends 'base.html.twig' %}

{% block title %}Hello ActorController!
{% endblock %}

{% block body %}
	<style>

	</style> 

	
		<form action="{{ url("actor-search") }}">
			<div class="container-input">
				<input class="search" name="q" placeholder="Search">
				<input class="button" type="submit" value="Search">
			</div>
		</form>
	
{% endblock %}