{% extends 'base.html.twig' %}

{% block title %}rae{% endblock %}

{% block body %}
<div class="searchpage">
    <form action="{{ url('search') }}" method="get">
        <input name="value">
        <button>Search</button>
    </form>

    <ul>
        {# {% for element in list %}
            <li>{{ element }} <a href="{{ url('todolist_delete', {id: loop.index0}) }}"> Delete </a></li>
        {% endfor %} #}
    <ul>
</div>   
{% endblock %}